# Datasets
/data/**/*.p
!/data/**/*.zip
!/data/**/*.tar.gz
/transformations/data*
!/transformations/accuracy.npy
!/transformations/labDatasets.npy

# pickled data 
*.pickle

# Python cache & checkpoints
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Environments
/.env
/.venv
/env
venv
/ENV
/env.bak
/venv.bak
/.python-version

# Weights & Biases
wandb/
wandb-metadata.json

# IDEs
.vscode
.atom
.idea

# Other
.DS_Store
/tmp
